html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
html{line-height:1}
ol,
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,
th,
td{text-align:left;font-weight:normal;vertical-align:middle}
q,
blockquote{quotes:none}
q:before,
q:after,
blockquote:before,
blockquote:after{content:"";content:none}
a img{border:none}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary{display:block}
.group{zoom:1}
.group:after,
.group:before{content:"";display:table}
.group:after{clear:both}
*,
::after,
::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
* html{font-size:150%}
html{font-size:24px;line-height:1.5em;height:100%;}
@media screen and (max-width: 500px){html{font-size:95%}}
body{background:#fffffa;color:#272727;height:100%;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif}
a{color:#da3c26}
a:hover{text-decoration:none;color:#f3290d}
a img{text-decoration:none}
h1{font-weight:600}
h1 i{color:#da3c26}
p{margin-bottom:1.5em}
#header,
.site{width:90%;margin:0 auto;padding-top:3em;padding-bottom:7.5em;position:relative;min-height:100%;}
#header{font-weight:600;text-align:center;font-size:1.33333em;line-height:1.125em;line-height:1.125em;padding-top:1.125em;padding-bottom:1.125em}
#header a{color:#272727;text-decoration:none;display:inline-block;margin-left:1em}
#header a:first-child{margin-left:0}
#header a:hover{color:#f3290d}
.container{margin:0 auto;max-width:628px;height:100%;}
h1.title{white-space:nowrap;font-size:1.5em;line-height:1.08em;line-height:1.08em;margin-bottom:0.36em}
h1.headline{font-size:2em;line-height:1.5em;line-height:1.125em;margin-bottom:0.75em;text-align:center}
.banner{position:absolute;width:100%;bottom:0;left:0;margin:0 auto;text-align:center;}
.banner img{display:inline-block;max-width:100%;height:5.625em}
.social{text-align:center;vertical-align:middle}
.social a{display:inline-block;margin-left:1.5em}
.social a:first-child{margin-left:0}
.social img{display:block;vertical-align:middle;height:1.75em;margin:0 auto;}
