html,
body,
div,
h1,
p,
a,
img,
section,
html{line-height:1}
section{display:block}
*,
::after,
::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:16px;line-height:1.4;height:100%;}
body{background:#ffffff;color:#272727;height:100%;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif}
a{color:#272727}
a:hover{text-decoration:none;}
h1{font-weight:600}
p{margin-bottom:1.5em;line-height: 1.4;}
.container{margin:0 auto;max-width:628px;height:100%;}
h1.headline{white-space:nowrap;font-size:1.5em;line-height:1.08em;line-height:1.08em;margin-bottom:0.36em}
.banner{position:absolute;width:100%;bottom:0;left:0;margin:0 auto;text-align:center;}
.banner img{display:block;max-width:100%;height:5.625em;margin:0 auto}
