!!!
%html
  %head
    %title Designing for Content - Peter Ostrander
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge;chrome=1"}/
    %meta{:name => 'viewport', :content => "width=device-width"}/
    %link{:rel => "stylesheet", :href => "/css/screen.css"}/
    %script{:type => "text/javascript", :src => "//use.typekit.net/iwv2qgq.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
  %body
    .container
      %header#header{:role => "banner"}
        %nav.group{:role => "navigation"}
          %a{:href => "/"} About
          %a{:href => "/articles"} Articles
          //%a{:href => "portfolio"} Portfolio
      %section.site{:role => "main"}
        %img.banner{:src => "/images/2013/02/designing-for-content.png", :alt => "Illustration of the Starter League logo"}/
        %h1.headline Designing for Content
        %p Four weeks ago I began attending the Starter League's inaugural Visual Design course, prepared and presented by 37signal's <a href="http://migreyes.com" target="_blank">Mig Reyes</a>. Up until that point, I'd never had any kind of formal education or training in design; even though I've been working professionally as a web developer and designer for the better part of a decade. Turns out I've been doing it wrong for awhile.

        %p In week one, Mig stressed the idea that &mdash; even with all the fancy gradients, 3d transforms, and rounded corners &mdash; <a href="http://37signals.com/svn/posts/3404-reminder-design-is-still-about-words" target="_blank">design is still about words</a>.

        %p This was somewhat of a revelation. The process of designing something around existing content isn't new to me, but being aware of that process is. I think that's an important distinction.

        %p I've designed plenty of websites where the content is vast, and the process of designing for that content comes naturally. But I've also created websites where the copy is non-existent and the only instructions from the client are, "build me a website."

        %p In the latter situation, it would take me forever to get into the groove of things. I'd start with building a header, but that would get me nowhere. I'd move onto the body of the design&hellip; but without any content, I'd go through endless iterations. When I finally hit a dead end, I'd give up and start writing some copy. Inevitably, that made going back to the design work much easier.

        %p Design is hard, but it's nearly impossible when you have nothing to design for.

      %aside.social{:role => "navigation"}
        %a{:href => "http://twitter.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/twitter.png", :alt => "Twitter"}/
        %a{:href => "http://github.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/github.png", :alt => "GitHub"}/
        %a{:href => "http://dribbble.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/dribbble.png", :alt => "Dribbble"}/
        %a{:href => "http://instagram.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/instagram.png", :alt => "Instagram"}/
    
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/init.min.js"}