!!!
%html
  %head
    %title Hi, I'm Peter
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge;chrome=1"}/
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}/
    %meta{:name => "description", :content => "I'm a frontend web developer and designer living in Chicago, IL. I like to make things."}/
    %link{:rel => "stylesheet", :href => "/css/screen.css"}/
    %script{:type => "text/javascript", :src => "/js/libs/modernizr.latest.js"}
    %script{:type => "text/javascript", :src => "//use.typekit.net/iwv2qgq.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
  %body
    .container
      %section.site{:role => "main"}
        %img.banner{:src => "/images/profile.png", :alt => "Peter Ostrander"}/
        %h1.title Hi, I&rsquo;m <i>Peter</i>
        %p I&rsquo;m a frontend web developer and designer living in Chicago. I&rsquo;m also a Co-Founder and the current Head of Product at <a href="http://realhq.com" target="_blank">Real HQ</a>.
        %p Need to get in touch? You can email me at <a href="mailto: peter@peterostrander.com" target="_blank">peter@peterostrander.com</a>

        %aside.social{:role => "navigation"}
          %a{:href => "http://twitter.com/peterostrander", :target => "_blank"}<
            %img{:src => "/images/social-icons/twitter.png", :alt => "Twitter"}/
          %a{:href => "http://github.com/peterostrander", :target => "_blank"}<
            %img{:src => "/images/social-icons/github.png", :alt => "GitHub"}/

    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/init.min.js"}
