!!!
%html
  %head
    %title Hi, I'm Peter
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge;chrome=1"}/
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}/
    %meta{:name => "description", :content => "I'm a frontend web developer and designer living in Chicago, IL. I like to make things."}/
    %link{:rel => "stylesheet", :href => "/css/screen.css"}/
    %script{:type => "text/javascript", :src => "/js/libs/modernizr.latest.js"}
    %script{:type => "text/javascript", :src => "//use.typekit.net/iwv2qgq.js"}
    %script{:type => "text/javascript"} try{Typekit.load();}catch(e){}
  %body
    .container
      %header#header{:role => "banner"}
        %nav.group{:role => "navigation"}
          %a{:href => "articles"} Articles
          //%a{:href => "portfolio"} Portfolio
      %section.site{:role => "main"}
        %img.banner{:src => "/images/profile.png", :alt => "Peter Ostrander"}/
        %h1.title Hi, I&rsquo;m <i>Peter</i>
        %p I'm a frontend web developer and designer living in Chicago, IL. I like to make things using HTML, CSS, and JavaScript; and by extension &mdash; <a href="http://sass-lang.com" target="_blank">Sass</a>, and <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>.

        %p Websites are super-cool, but that's not all I like to make. Sometimes, I design and build <a href="http://instagram.com/p/Ss50D0u-94/" target="_blank">furniture</a>. Once, I even made an <a href="http://www.flickr.com/photos/peterostrander/sets/72157625104172420/" target="_blank">arcade cabinet</a>. I used to make movies, too &mdash; but now I just <a href="http://www.imdb.com/list/aG7Fsc5qIWE/" target="_blank">watch a lot of them</a>.

        %p Need to get in touch? You can email me at <a href="mailto: peter@peterostrander.com" target="_blank">peter@peterostrander.com</a>

      %aside.social{:role => "navigation"}
        %a{:href => "http://twitter.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/twitter.png", :alt => "Twitter"}/
        %a{:href => "http://github.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/github.png", :alt => "GitHub"}/
        %a{:href => "http://dribbble.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/dribbble.png", :alt => "Dribbble"}/
        %a{:href => "http://instagram.com/peterostrander", :target => "_blank"}<
          %img{:src => "/images/social-icons/instagram.png", :alt => "Instagram"}/
    
      %aside.recent-articles{:role => "navigation"}
        %h1
          Recent Articles
        %p
          %a{:href => "articles/2013/02/designing-for-content"} Designing for Content
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/init.min.js"}